.pgblogs-root{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15% 0 15%;
}

.pgblogs-cardlist{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

